<template lang="html">
  <v-dialog v-model="dialog" width="400">
    <template #activator="{ on, attrs }">
      <v-btn color="green lighten-2" dark v-bind="attrs" v-on="on">Buy</v-btn>
    </template>

    <v-card class="mx-auto my-12" max-width="400">
      <v-card-title>Buy</v-card-title>
      <v-card-text>
        <v-row>
          <v-text-field v-model="amount" label="Amount" />
        </v-row>

        <v-row>{{ maticPayable }} MATIC</v-row>
      </v-card-text>

      <v-card-actions>
        <v-btn color="primary" @click="buy">Buy</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { ethers } from "ethers";
import { address as FactoryAddress } from "@/deployments/localhost/TreasuryFactory.json";
import FactoryArtifact from "@/artifacts/contracts/TreasuryFactory.sol/TreasuryFactory.json";
import TreasuryArtifact from "@/artifacts/contracts/Treasury.sol/Treasury.json";
import IssuanceArtifact from "@/artifacts/contracts/Issuance.sol/Issuance.json";
import MaticAUDPriceFeedArtifact from "@/artifacts/contracts/oracles/pricefeeds/MaticAUDPriceFeed.sol/MaticAUDPriceFeed.json";
import { integerize, decimalize } from "@/utils/formatters/numbers";
import { reverseRateI, getAmountOut } from "@/utils/xrates";

export default {
  name: "IssuanceModal",
  props: ["pairIndex", "pricefeed"],
  data() {
    return {
      amount: 0,
      minAmount: 0,
      maticPayable: 0
    };
  },
  watch: {
    async amount() {
      const provider = ethers.getDefaultProvider("http://localhost:8545");

      const maticAUDPriceFeed = new ethers.Contract(
        MaticAUDPriceFeedArtifact.address,
        MaticAUDPriceFeedArtifact.abi,
        provider
      );

      const amount = integerize(this.amount, 8);
      const issuanceFee = "2"; // await issuance.fee();
      const fee = amount.times(issuanceFee).div(100);
      const amountPlusFee = amount.plus(fee);

      this.minAmount = amount.minus(fee);

      const xRateMaticToAUD = await maticAUDPriceFeed["getPrice()"]();
      const xRateAUDToMatic = reverseRateI(xRateMaticToAUD.toString(), 8);

      const maticPayable = getAmountOut(
        amountPlusFee.toString(),
        xRateAUDToMatic,
        8
      );

      this.maticPayable = decimalize(maticPayable.toString(), 8);
    }
  },
  methods: {
    async buy() {
      const provider = ethers.getDefaultProvider("http://localhost:8545");

      const factory = new ethers.Contract(
        FactoryAddress,
        FactoryArtifact.abi,
        provider
      );
      const treasury = new ethers.Contract(
        await factory.treasury(),
        TreasuryArtifact.abi,
        provider
      );
      const issuance = new ethers.Contract(
        await treasury.issuance(),
        IssuanceArtifact.abi,
        provider
      );

      if (window.ethereum) {
        const provider = new ethers.providers.Web3Provider(window.ethereum);
        const addresses = await provider.send("eth_requestAccounts", []);
        console.log(addresses);
        const signer = await provider.getSigner();

        const maticPayable = integerize(this.maticPayable.toString(), 18);

        const timestamp = (await provider.getBlock("latest")).timestamp;
        const deadline = Math.floor(
          new Date(timestamp).getTime() + (20 * 60000) / 1000
        );

        console.log(maticPayable.toString());
        console.log(this.minAmount.toString());

        await issuance
          .connect(signer)
          .issue(this.pairIndex, this.minAmount.toString(), deadline, {
            value: maticPayable.toString()
          });
      }
    }
  }
};
</script>
