<template lang="html">
  <v-dialog v-model="dialog" width="400">
    <template #activator="{ on, attrs }">
      <v-btn color="red lighten-2" dark v-bind="attrs" v-on="on">Sell</v-btn>
    </template>

    <v-card class="mx-auto my-12" max-width="400">
      <v-card-title>Sell</v-card-title>
      <v-card-subtitle>Sell your AUD and redeem SpendieVol</v-card-subtitle>
      <v-card-text>
        <v-row>
          <v-text-field v-model="amount" label="Amount" />
        </v-row>

        <v-row>{{ spVolPayable }} SpendieVol</v-row>
      </v-card-text>

      <v-card-actions>
        <v-btn color="primary" @click="approve">Approve</v-btn>
        <v-btn color="primary" @click="sell">Sell</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { ethers } from "ethers";
import { address as FactoryAddress } from "@/deployments/localhost/TreasuryFactory.json";
import FactoryArtifact from "@/artifacts/contracts/TreasuryFactory.sol/TreasuryFactory.json";
import TreasuryArtifact from "@/artifacts/contracts/Treasury.sol/Treasury.json";
import RedemptionArtifact from "@/artifacts/contracts/Redemption.sol/Redemption.json";
import IERC20Artifact from "@openzeppelin/contracts/build/contracts/IERC20.json";
import { integerize, decimalize } from "@/utils/formatters/numbers";

export default {
  name: "RedemptionModal",
  props: ["pairIndex"],
  data() {
    return {
      amount: 0,
      minAmount: 0,
      spVolPayable: 0
    };
  },
  watch: {
    async amount() {
      const provider = ethers.getDefaultProvider("http://localhost:8545");

      const factory = new ethers.Contract(
        FactoryAddress,
        FactoryArtifact.abi,
        provider
      );

      const treasury = new ethers.Contract(
        await factory.treasury(),
        TreasuryArtifact.abi,
        provider
      );

      const redemption = new ethers.Contract(
        await treasury.redemption(),
        RedemptionArtifact.abi,
        provider
      );

      const amount = integerize(this.amount, 8);

      this.minAmount = amount;

      const spVolPayable = await redemption.calculateSpendieVolOut(
        await redemption.calculateMaticOut(
          this.pairIndex,
          this.minAmount.toString()
        )
      );

      console.log(this.minAmount.toString());
      console.log(spVolPayable.toString());

      this.spVolPayable = decimalize(spVolPayable.toString(), 18);
    }
  },
  methods: {
    async approve() {
      const provider = ethers.getDefaultProvider("http://localhost:8545");

      const factory = new ethers.Contract(
        FactoryAddress,
        FactoryArtifact.abi,
        provider
      );
      const treasury = new ethers.Contract(
        await factory.treasury(),
        TreasuryArtifact.abi,
        provider
      );

      if (window.ethereum) {
        const pair = await treasury.getStableToken(this.pairIndex);

        const token = new ethers.Contract(
          pair.token,
          IERC20Artifact.abi,
          provider
        );

        const provider = new ethers.providers.Web3Provider(window.ethereum);
        await provider.send("eth_requestAccounts", []);

        const signer = await provider.getSigner();

        await token
          .connect(signer)
          .approve(await treasury.redemption(), "1000000000000000000000000");
      }
    },
    async sell() {
      const provider = ethers.getDefaultProvider("http://localhost:8545");

      const factory = new ethers.Contract(
        FactoryAddress,
        FactoryArtifact.abi,
        provider
      );
      const treasury = new ethers.Contract(
        await factory.treasury(),
        TreasuryArtifact.abi,
        provider
      );
      const redemption = new ethers.Contract(
        await treasury.redemption(),
        RedemptionArtifact.abi,
        provider
      );

      if (window.ethereum) {
        const provider = new ethers.providers.Web3Provider(window.ethereum);
        await provider.send("eth_requestAccounts", []);

        const signer = await provider.getSigner();

        const spVolPayable = integerize(this.spVolPayable.toString(), 18);

        console.log(spVolPayable.toString());
        console.log(this.minAmount.toString());

        await redemption
          .connect(signer)
          .redeem(this.pairIndex, this.minAmount.toString());
      }
    }
  }
};
</script>
