<template lang="html">
  <v-card>
    <v-card-title>Stable Tokens</v-card-title>

    <v-card-text>
      <v-list-item v-for="(token, index) in tokens" :key="token.symbol">
        <v-list-item-content>
          <v-list-item-title>
            {{ token.name }} ({{ token.symbol }})
            <issuance-modal :pricefeed="token.pricefeed" :pair-index="index" />
            <redemption-modal :pair-index="index" />
          </v-list-item-title>
          <v-list-item-subtitle>
            {{ token.totalSupply }} {{ token.address }}
          </v-list-item-subtitle>
          <v-list-item-content>
            Price Feed: {{ token.pricefeed }}
          </v-list-item-content>
        </v-list-item-content>
      </v-list-item>
    </v-card-text>
  </v-card>
</template>

<script>
import { ethers } from "ethers";
import { address as FactoryAddress } from "@/deployments/localhost/TreasuryFactory.json";
import FactoryArtifact from "@/artifacts/contracts/TreasuryFactory.sol/TreasuryFactory.json";
import TreasuryArtifact from "@/artifacts/contracts/Treasury.sol/Treasury.json";
import BasketArtifact from "@/artifacts/contracts/Basket.sol/Basket.json";
import StableTokenArtifact from "@/artifacts/contracts/StableToken.sol/StableToken.json";
import { decimalize } from "@/utils/formatters/numbers";
import IssuanceModal from "./IssuanceModal";
import RedemptionModal from "./RedemptionModal";

export default {
  name: "StableTokens",
  components: {
    IssuanceModal,
    RedemptionModal
  },
  data() {
    return {
      tokens: [],
      spendieVolAddress: null
    };
  },
  async created() {
    const provider = ethers.getDefaultProvider("http://localhost:8545");

    const factory = new ethers.Contract(
      FactoryAddress,
      FactoryArtifact.abi,
      provider
    );
    const treasury = new ethers.Contract(
      await factory.treasury(),
      TreasuryArtifact.abi,
      provider
    );
    const basket = new ethers.Contract(
      await treasury.getBasket(),
      BasketArtifact.abi,
      provider
    );

    this.spendieVolAddress = await treasury.spendieVol();

    const tokenCount = await basket.getStableTokenCount();

    const tokens = [];

    for (var i = 0; i < tokenCount; i++) {
      let tokenAddress = await basket.getStableToken(i);
      let token = new ethers.Contract(
        tokenAddress,
        StableTokenArtifact.abi,
        provider
      );

      let totalSupply = await token.totalSupply();
      let decimals = await token.decimals();

      tokens.push({
        name: await token.name(),
        symbol: await token.symbol(),
        address: token.address,
        totalSupply: decimalize(totalSupply.toString(), decimals),
        pricefeed: await basket.getTokenPriceFeed(tokenAddress)
      });
    }

    this.tokens = tokens;
  }
};
</script>
